* {
    margin: 0;
    padding: 0;
    box-sizing: border-bos;

}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
}

h2, p {
    text-align: center;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}