* {
    margin: 0;
    padding: 0;
    box-sizing: border-bos;

}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
}

h2, p {
    text-align: center;
}